body {
    width: 360px;
    background-color: pink;
}
.one {
    width: 350px;
    height: 40px;
    background-color: red;
}
h1 {
    color: 2A9OD9;
    font: "Montserrat";
    margin-left: 70px;
    margin-top: -50px;
}
span {
    color: EE685F;
}
.pic1 {
    padding-left: 15px;
    margin-top: 15px;
}
.pic2 {
    padding-left: 310px;
    margin-top: -30px;
    
}