body {
    font-family: "Montserrat";
    overflow-x: hidden;
    margin-left: 20px;
}
.menu-toggle {
    font-size: 35px;
    font-weight: 100;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    display: block;
}
.logo1 {
    font-family: "Montserrat";
    font-weight: "Bold";
    color: #2A90D9;
    margin-left: 53px;
    margin-top: -36px;
    font-size: 30px;
}
span {
    color: #EE685F;
}
.profile-picture {
    margin-left: 330px;
    transform: translateY(-60px);
}
.nav-menu {
    display: flex;
}
.mobile-menu {
    height: 70px;
    width: 380px;
}
.nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.nav-menu li {
    margin-left: 20px;
}
.nav-menu a {
    text-decoration: none;
    color: black;
}
.close-menu {
    font-size: 50px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 315px;
}
.nav-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 370px;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    height: 100vh;
    z-index: 1000;
    margin-right: 100px;
}
.nav-menu.active {
    transform: translateX(0);
    display: flex;
}
.nav-menu ul {
    flex-direction: column;
    width: 100%;
    margin-top: -50px;
}
.nav-menu li {
    margin-left: 30px;
    margin-top: 35px;
}
h1{
    font-family: "Montserrat";
    margin-right: 210px;
}
.logo2 {
    color: #2A90D9;
    margin-left: 60px;
    margin-top: 20px;
    font-size: 30px;
}
.language-img {
    margin-left: 40px;
    transform: translateY(-260%);
}
.socials {
    margin-left: 10px;
}
.social-icons {
    margin-left: 20px;
    margin-top: 60px;
}
.header1 {
    margin-top: -300px;
    font-size: 35px;
    padding-left: 15px;
}
.Apartments {
    font-size: 20px;
    padding-left: 15px;
}
.Finding-Apartments {
    width: 360px;
    height: 330px;
}
.searching {
    background-color: white;
    width: 320px;
    height: 60px;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 30px;
    position: relative; 
}
.location-img {
    margin-top: 20px;
    margin-left: 20px;
}
.where {
    margin-left: 50px;
    margin-top: -30px;
}
.search {
    margin-left: 50px;
    margin-top: -15px;
    color: slategrey;
}
.button-img {
    margin-left: 265px;
    margin-top: -58px;
    position: absolute;
}
.choose-us {
    background-color: whitesmoke;
    width: 360px;
    height: 950px;
    margin-top: -15px;
}
.header2 {
    text-align: center;
    padding-top: 50px;
}
h3 {
    text-align: center;
}
.paragraphs {
    text-align: center;
}
.payment-img {
    margin-left: 130px;
    margin-top: 30px;
}
.special-offers {
    width: 360px;
    height: 1400px;
    padding-top: 50px ;
    margin-top: 46px;
}
.header3 {
    text-align: center;
    margin-bottom: 50px;
}
.cards {
    width: 305px;
    height: 380px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    transform: translateX(5%);
    border-radius: 15px;
    border: solid 2px;
    color: whitesmoke;
    margin-top: 20px;
}
.rating-img {
    transform: translateY(-580%);
    padding-left: 10px;
}
.heart-img {
    transform: translateY(-580%);
    padding-left: 180px;
}
.header4{
    transform: translateY(-30px);
    padding-right: 50px;
    color: black;
    text-align: left;
}
.availability {
    color: slategray;
    transform: translateY(-40px);
}
.price-img {
    transform: translateY(-30px);
}
.reviews {
    width: 360px;
    height: 1000px;
    margin-top: -20px;
}
.header5 {
    margin-bottom: 30px;
    text-align: center;
}
.customers {
    padding-left: 130px;
}
.review1 {
    color:slategrey;
}
.span2 {
    color: slategrey;
}
.more-reviews {
    width: 300px;
    height: 50px;
    background-color: #EE685F;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 40px;
}
.review3 {
    text-align: center;
    padding-top:16px;
}
.posts {
    width: 360px;
    height: 1300px;
    margin-top: 70px;
}
.places {
    margin-top: 20px;
    padding-left: 15px;
}
.date {
    margin-left: 15px;
    color: slategrey;
}
.time {
    margin-left: 240px;
    transform: translateY(-35px);
}
h4 {
    font-size: 20px;
    transform: translateY(-58px);
    margin-left: 15px;
}
.post {
    margin-left: 15px;
    margin-top: -70px;
}
.title-section {
    background-color: whitesmoke;
    width: 360px;
    height: 900px;
}
h5 {
    font-size: 15px;
    margin-left: 15px;
}
.page {
    margin-left: 15px;
    color: slategrey;
}
.email {
    margin-left: 15px;
    color: slategrey;
    margin-top: -10px;
}
.last-div {
    background-color: white;
    width: 330px;
    height: 40px;
    border-radius: 10px;
    border: 2px;
    border-color: #EE685F;
    margin-left: 15px;
}
.btn {
    margin-left: 290px;
}
.logo3 {
    font-family: "Montserrat";
    color: #2A90D9;
    transform: translateX(-50px);
    margin-top: -25px;
    margin-left: 60px;
}
hr {
    width: 330px;
    margin-top: 35px;
    margin-bottom: 50px;
    background-color: slategrey;
}
.social {
    margin-left: 10px;
    margin-top: -25px;
}
.design {
    margin-left: 10px;
    color: slategrey;
}